.DS_STORE
.DS_Store
.idea/description.html
.idea/libraries/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/uiDesigner.xml
.idea/workspace.xml
PictureLanguage.iml
out/
target/
